<%= content_for :title do %>
  Edit Page Template • <%= @page_template.name %>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">Editing page template</h1>
  </div>
</div>

<%= render "form", page_template: @page_template do %>
  <%= link_to "Discard changes", @page_template , data: { turbo_method: :get, turbo_confirm: 'Are you sure?' }, class: 'btn' %>
<% end %>
