<h1>Editing page template</h1>

<%= render "form", page_template: @page_template %>

<br>

<div>
  <%= link_to "Show this page template", @page_template %> |
  <%= link_to "Back to page templates", page_templates_path %>
</div>
