<%= content_for :title do %>
  Search Results
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">Search Results</h1>
  </div>
</div>

<% if @results.length == 0 %>
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">No results found!</h3>
    </div>
  </div>
<% end %>

<div>
  <div class="row">
    <% @results.each do |result| %>
      <div class="col-md-4 mb-5">
        <h5>
          <%= result.class.name %>:
        </h5>
        <%= render result do %>
          <% if result.class.name == 'Page' && result.page_category_id %>
            <%= link_to 'Show this page', page_page_category_path(PageCategory.friendly.find(result.page_category_id).slug, result.slug), class: 'btn' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
