<h1>Editing page category</h1>

<%= render "form", page_category: @page_category %>

<br>

<div>
  <%= link_to "Show this page category", @page_category %> |
  <%= link_to "Back to page categories", page_categories_path %>
</div>
