<%= content_for :title do %>
  New Page Category
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">New page category</h1>
  </div>
</div>

<%= render "form", page_category: @page_category do %>
  <%= link_to "Discard changes", page_categories_path, data: { turbo_method: :get, turbo_confirm: 'Are you sure?' }, class: 'btn' %>
<% end %>
