<%= content_for :title do %>
  <%= @page_category.name %>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">
      <%= @page_category.name %>
    </h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Pages</h4>
    <% @page_category.pages.each do |page| %>
      <%= render page %>
    <% end %>
  </div>
</div>
