<div class="card h-100">
  <div class="card-body">
    <h4 class="text-center">
      <%= user.name %>
    </h4>
  </div>
  <div class="card-footer text-center">
    <div class="card-footer-btn-group">
      <%= link_to "Show this user", user, class: "btn" %>
    </div>
  </div>
</div>
