<h1>Editing page asset</h1>

<%= render "form", page_asset: @page_asset %>

<br>

<div>
  <%= link_to "Show this page asset", @page_asset %> |
  <%= link_to "Back to page assets", page_assets_path %>
</div>
