<p style="color: green"><%= notice %></p>

<h1>Page assets</h1>

<div id="page_assets">
  <% @page_assets.each do |page_asset| %>
    <%= render page_asset %>
    <p>
      <%= link_to "Show this page asset", page_asset %>
    </p>
  <% end %>
</div>
