<%= content_for :title do %>
  About Us
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">About Us</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2>What is Westside Boiler Invasion?</h2>
    <div class="row mt-3">
      <div class="col-md-3">
        <%= image_tag "about/team_image_1.jpg", class: "mw-100" %>
      </div>
      <div class="col-md">
        Westside Boiler Invasion is the supporting organization for all of the FIRST Robotics programs within the West Lafayette Community School Corporation. For more than 2 decades, we've provided hands-on, mentor-guided experiences for the 140+ students that participate in our programs each year. Our members work throughout the year by building robots, programming, and holding outreach events in the community to promote FIRST® robotics and STEAM education. Our FIRST robotics team provides a place for students to develop skills for future careers in STEAM.
      </div>
      <div class="row mt-3">
        <div class="col-md">
          We meet at the old Happy Hollow School building, located at 1200 N Salisbury Street, West Lafayette IN 47906. Door #7, around the back of the building, is our main entrance. For larger events we will also open door #9, which is closer to the Kingston Dr. drop off drive.
        </div>
        <div class="col-md-3">
          <%= image_tag "about/shop_location.png", class: "mw-100" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2>What do we do?</h2>
    <div class="mt-3">
      <p>The FIRST&reg; and WBI programs attract the interest of students in the fields of science and technology. These organizations affect everyone involved, including teachers, advisors, sponsors, and the community. While involvement in FIRST requires a lot of work, the work pays back tenfold.</p>
      <p>Each January, FIRST&reg; announces the rules for the year's game. The high school team members work with engineers, teachers, and college advisors to design and construct a robot to play the game. Constructing the robot is a difficult task--each team gets merely six weeks to complete it, after which teams compete in regional and national competitions. Although the competition and the building of the robot take only a few weeks, Westside Boiler Invasion works throughout the entire year.</p>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2>Contact Us!</h2>
    <div class="row mt-3">
      <div class="col-sm-4 mt-2">
        <h3>Mailing Address</h3>
        Westside Boiler Invasion<br>
        PO Box 2734<br>
        West Lafayette, IN 47996
        <h3 class="mt-3">Meeting Address</h3>
        1201 Cumberland Ave.<br>
        Suite B100<br>
        West Lafayette, IN 47906
      </div>
      <div class="col-sm-4 mt-2">
        <h3>Email</h3>
        <div class="mt-2">
          Mentor Lead<br>
          [brad@boilerinvasion.org]
        </div>
        <div class="mt-2">
          Donation and Sponsorship Lead<br>
          [donate@boilerinvasion.org]
        </div>
        <div class="mt-2">
          Boosters Lead<br>
          [boosters-president@boilerinvasion.org]
        </div>
      </div>
      <div class="col-sm-4 mt-2">
        <h3>Email</h3>
        <div class="mt-2">
          Student Lead<br>
          [president@boilerinvasion.org]
        </div>
        <div class="mt-2">
          Outreach Lead<br>
          [outreach@bolierinvasion.org]
        </div>
        <div class="mt-2">
          Purdue First Lead<br>
          [director@boilerinvasion.org]
        </div>
      </div>
    </div>
  </div>
</div>
