<%= content_for :title do %>
  Team History
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">Team History</h1>
  </div>
</div>

<div id="pages">
  <div class="row">
    <% @pages.each do |page| %>
      <div class="col-md-4 mb-3">
        <%= render page do %>
          <%= link_to 'Show this page', page_page_category_path(@category.slug, page.slug), class: 'btn' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
