<%= content_for :title do %>
  Home
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">Westside Boiler Invasion</h1>
  </div>
</div>

<div class="row">
  <div class="d-flex flex-column col-md-6">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h2>Mission Statement</h2>
        <p>FRC 461 Westside Boiler Invasion strives to build more than just robots. We strive to be a model for all FIRST teams, build a diverse community, foster creativity, inspire students to pursue their dreams, reach out to the underserved, and support our students from their first steps into STEM all the way throughout their careers.</p>
      </div>
    </div>
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h2>Belief Statements</h2>
        <p>We believe in the transformative power of the FIRST program and its core values:</p>
        <ul>
          <li><em>Discovery</em> — Team 461 empowers members to explore all aspects of STEM and leadership to push the boundaries of what a FIRST team can achieve.</li>
          <li><em>Innovation</em> — Team 461 fosters creativity through guided brainstorming, technical research, prototyping, and testing new robot designs and functionalities.</li>
          <li><em>Impact</em> — Team 461 spreads access to STEM in the community through self-made or partnership outreach events and sharing resources through social media.</li>
          <li><em>Inclusion</em> — Team 461 recognizes that every member of our team brings unique perspectives, experiences, and strengths to the table. By respecting each other and embracing our differences, we can create a more inclusive and supportive team where everyone is empowered to contribute their best work.</li>
          <li><em>Teamwork</em> — Team 461’s Media, Outreach, Programming, and Tech subteams work together to maximize productivity and engagement.</li>
          <li><em>Fun</em> — Team 461 loves team-bonding events! Our team plans interactive activities that enhance student connections such as ice skating, banquets, and team karaoke.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column col-md-6">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <figure class="figure">
          <%= image_tag "welcome/team_worlds.webp", class: "w-100" %>
          <figcaption class="figure-caption">Our team cheering after winning the Galileo Division at the 2023 FIRST Championship in Houston, TX. April 22, 2023.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
