<div id="<%= dom_id page %>" style="max-width: 650px" class="mx-auto">
  <% unless page.html_cache.nil? %>
    <%= page.html_cache.html_safe %>
  <% else %>
    <%= render_content(page.content) %>
  <% end %>
</div>
