<div class="card h-100">
  <div class="card-body">
    <h4 class="text-center">
      <%= page.title %>
    </h4>
  </div>
  <div class="card-footer">
    <div class="card-footer-btn-group">
      <% if current_page?(dashboard_index_path) || current_page?(pages_path) %>
        <%= link_to 'Show this page', page, class: 'btn' %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
