<%= content_for :title do %>
  Edit • <%= @page.title %>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">Editing page</h1>
  </div>
</div>

<%= render "form", page: @page do %>
  <%= link_to "Discard changes", @page, data: { turbo_method: :get, turbo_confirm: 'Are you sure?' }, class: 'btn' %>
<% end %>
