<div class="card">
  <div class="card-body">
    <h1>Editing page</h1>
  </div>
</div>

<%= render "form", page: @page do %>
  <%= link_to "Show this page", @page, class: 'btn' %>
  <%= link_to "Back to pages", pages_path, class: 'btn' %>
<% end %>