<%= content_for :title do %>
  All Pages
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">All Pages</h1>
  </div>
</div>

<div class="row">
  <% @pages.each do |page| %>
    <div class="col-md-4 mb-3">
      <%= render page %>
    </div>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "New page", new_page_path, class: "btn btn-cardlike w-100" %>
<% end %>
