<%= content_for :title do %>
  All Pages
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center">Pages</h1>
  </div>
</div>

<div id="pages">
  <% @pages.each do |page| %>
    <%= render page %>
  <% end %>
</div>

<% unless current_user.nil? %>
  <%= link_to "New page", new_page_path, class: "btn btn-cardlike w-100" %>
<% end %>
